.container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav {
    padding: 10px 20px;
}

.bg-red {
   background-color: #c92d2d;
}

.navbar-light .navbar-nav .nav-link{
    color: white !important;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 10px;
}

.dropdown-item {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 550;
    text-transform: uppercase;
}

.dropdown-item:active {
    background-color: rgba(102, 102, 102, .3);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}