.addons__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 11px -2px #000000;
}

.title {
    font-weight: bold;
}

.picture {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.learn {
    color: black;
    background-color: #c92d2d;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}